@import "./base/reset";
@import "./base/typography";

@import "./components/buttons";
@import "./components/icons";

@import "./layout/header";
@import "./layout/footer";

@import "./utils/variables";
@import "./utils/mixins";

// ---------------------------------------------------- La page d'accueil du site -------------------------------------------------------- \\


// -------------------------------------------------------------- Loader --------------------------------------------------------------- \\

.loader {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   background: $bg-color;
   visibility: hidden;
   animation: 2.5s 1 ease load;
   z-index: 5;
}

.loader div {
    width: 30px;
    height: 30px;
    visibility: hidden;
    background: $light-purple;
    @include border-radius(50%);
    box-shadow: 0 -0.2rem 4px 2px $purple inset; // <-- horizontal, vertical, blur, spread, color, inner
    animation: 2s 1 ease-in-out bounce;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: .3s;
}

.loader div:nth-child(3) {
    animation-delay: .5s;
}

@keyframes load {
    0% {opacity: 90%; visibility: visible;}
    75% {opacity: 90%; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}

@keyframes bounce {
    0% {transform: translateY(0); opacity: 90%; visibility: visible;}
    25% {transform: translateY(1rem); opacity: 90%; visibility: visible;}
    50% {transform: translateY(0); opacity: 90%; visibility: visible;}
    75% {transform: translateY(1rem); opacity: 90%; visibility: visible;}
    100% {transform: translateY(0); opacity: 0; visibility: hidden;}
}

// ---------------------------------------------------- Bandeau de localisation ---------------------------------------------------- \\
.location {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 17px;
    background-color: $grey;
    @include place-shadow;
    z-index: 1;
    &__icon {
        height: 16px;
        font-size: 16px;
        display: flex;
        color: $grey-bg;
        align-self: center;
    }
    &__place {
        width: 109px;
        height: 19px;
        font-size: 16px;
        align-self: center;
        background: none;
        border: none;
    }
    &__place::placeholder {
        color: $grey-bg;
        font-weight: 500;
    }
}

//---------------------------------------------------- Bloc de présentation du concept ----------------------------------------------------//
.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    height: 287px;
    justify-content: center;
    align-items: center;
    &__title {
        height: 68px;
        width: 275px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
    &__subtitle {
        height: 46px;
        width: 315px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
    }
}

//-------------------------------------------------- Instructions d'utilisation du site --------------------------------------------------//
.fonction {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 47px 0px 67px 0px;
    &__title {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 5px;
    }
}

.instructions {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    &__step {
        display: flex;
        height: 72.38px;
        width: 335px;
        position: relative;
        &_number {
            display: flex;
            height: 24px;
            width: 24px;
            font-size: 14px;
            color: white;
            @include center;
            align-self: center;
            background-color: $purple;
            @include border-radius(25px);
        }
        &_info {
            display: flex;
            gap: 20px;
            align-items: center;
            position: absolute;
            left: 12px;
            width: 322.5px;
            height: 72px;
            font-size: 16px;
            font-weight: 500;
            background-color: $bg-color;
            z-index: -1;
            @include fonction-shadow();
            @include border-radius(20px);
            &_icon {
                display: flex;
                padding-left: 30px;
                color: $step-grey;
                font-size: 19px;
            }
            &_icon--purple {
                display: flex;
                padding-left: 30px;
                color: $purple;
            }
        }
    }
}

//---------------------------------------------------- Partie restaurants de la page ----------------------------------------------------//
.restaurants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-bottom: 65px;
    background-color: $bg-color;
    &__title {
        width: 340px;
        font-size: 24px;
        font-weight: 700;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
}

.link {
    width: 340px;
    height: 251px;
    display: flex;
    @include border-radius(15px)
}

.card {
    width: 340px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: inherit;
    position: relative;
    height: 251px;
    background-color: white;
    @include border-radius(15px);
    &__new {
        width: 80px;
        height: 29px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        @include center;
        position: absolute;
        top: 13px;
        left: 248px;
        background-color: $green;
        color: $green-font;
        @include border-radius(2px);
        z-index: 1;
        @include hdr-shadow;
    }
    &__img {
        width: 346px;
        height: 231px;
        object-fit: cover;
        position: relative;
        top: -57px;
        &_setting {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        position: relative;
        top: -57px;
        padding-left: 13px;
        padding-right: 24px;
        align-items: center;
        justify-content: space-between;
        &_txt {
            height: 70px;
            width: 250px;
            display: block;
            color: black;
            padding-top: 15px;
            &_title {
                font-size: 18px;
                font-weight: 700;
            }
            &_location {
                font-size: 17px;
                font-weight: 300;
                padding-top: 5px;
            }
        }
        &_icon {
            display: block;
            &-svg {
                width: 25px;
                height: 25px;
                fill: transparent;
                stroke: #101010;
                transition: fill 0.3s, stroke 0.3s;
            }
            &-input1[type=checkbox] {
                display: none;
                &:checked + label svg {
                    fill: url(#heart-color1);
                    stroke: url(#heart-color1);
                }
            }
            &-input2[type=checkbox] {
                display: none;
                &:checked + label svg {
                    fill: url(#heart-color2);
                    stroke: url(#heart-color2);
                }
            }
            &-input3[type=checkbox] {
                display: none;
                &:checked + label svg {
                    fill: url(#heart-color3);
                    stroke: url(#heart-color3);
                }
            }
            &-input4[type=checkbox] {
                display: none;
                &:checked + label svg {
                    fill: url(#heart-color4);
                    stroke: url(#heart-color4);
                }
            }
        }  
    }
}

// ----------------------------------------------------------- Media Queries ------------------------------------------------------------ \\

// -------------------------------------------------------------- tablet --------------------------------------------------------------- \\
@media screen and (min-width: 768px) {
    .about {
        height: 250px;
        &__title {
            width: auto;
            font-size: 28px;
        }
        &__subtitle {
            width: auto;
        }
    }
    .fonction {
        padding: 47px 0px 67px 0px;
        align-items: center;
        &__title {
            width: 335px;
            padding-left: 0;
        }
    }
    .instructions {
        width: 335px;
        align-items: center;
        &__step {
            width: 335px;
            &_info {
                width: 322.5px;
            }
        }
    }
    .restaurants {
        &__title {
            width: 712px;
            display: flex;
            padding: 0;
        }
        &__cards {
            width: 712px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

// ------------------------------------------------------------- desktop --------------------------------------------------------------- \\
@media screen and (min-width: 1025px) {
    .about {
        height: 250px;
    }
    .fonction {
        padding: 50px 0;
        &__title {
            width: 1000px;
        }
    }
    .instructions {
        width: 1000px;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        &__step {
            width: 335px;
            &_info {
                width: 308px;
            }
        }
    }
}

// ----------------------------------------------------------- wide desktop ------------------------------------------------------------- \\
@media screen and (min-width: 1281px) {
    .about {
        height: 250px;
        justify-content: space-evenly;
        &__title {
            width: auto;
            height: 47px;
            font-size: 40px;
        }
        &__subtitle {
            height: 27px;
            text-align: center;
        }
    }
    .fonction {
        align-items: center;
        padding: 50px 0;
        &__title {
            width: 1080px;
            padding: 0;
        }
    }
    .instructions {
        width: 1080px;
        flex-direction: row;
        gap: 36px;
        justify-content: center;
        &__step {
            width: 335px;
            &_info {
                width: 322.5px;
            }
        }
    }
    .restaurants {
        max-width: 100%;
        padding: 55px 0px 65px 0px;
        align-items: center;
        &__title {
            width: 1080px;
            padding: 0;
        }
        &__cards {
            width: 1080px;
            justify-content: space-between;
            row-gap: 50px;
        }
    }
    div.link {
        width: 490px;
    }
    // .restaurants a {
    //     width: 490px;
    // }
    .card {
        width: 490px;
        &__new {
            top: 13px;
            left: 396px;
        }
        &__img {
            width: inherit;
            left: 0;
        }
    }
}