@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.about__btn {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, #9356DC -11%, #FF79DA 124%);
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-top: 27px;
  transition: all 0.3s ease-in-out;
}
.about__btn:hover, .about__btn:focus {
  background: linear-gradient(355deg, #9b63df -11%, #ff88de 124%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  text-indent: -1%;
}

.purchase__btn {
  width: 186px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(355deg, #9356DC -11%, #FF79DA 124%);
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  transition: all 0.3s ease-in-out;
}
.purchase__btn:hover, .purchase__btn:focus {
  background: linear-gradient(355deg, #9b63df -11%, #ff88de 124%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  text-indent: -1%;
}

@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  .about__btn {
    margin-top: 0;
  }
}
.hdr {
  display: flex;
  flex-direction: column;
  height: 113px;
}

.ohmy {
  display: flex;
  justify-content: center;
  padding: 14px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.ohmy__logo {
  height: 30px;
  padding-top: 2px;
}

.hdr-menu {
  display: flex;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.ohmy-menu {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ohmy-menu__logo {
  height: 30px;
  padding-top: 2px;
  justify-self: center;
}
.ohmy-menu__arrow {
  position: absolute;
  left: 17px;
}

@media screen and (min-width: 1025px) {
  .hdr {
    height: 146px;
  }
  .ohmy {
    height: 96px;
  }
  .ohmy__logo {
    height: 34px;
    padding-top: 2px;
    align-self: center;
  }
  .ohmy-menu {
    height: 96px;
  }
  .ohmy-menu__logo {
    height: 34px;
    padding-top: 2px;
    align-self: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.foot {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 22px 25px;
  gap: 16px;
}
.foot__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
}

.footnav {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footnav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 8px;
}
.footnav__link_icon1 {
  font-size: 13.25px;
  padding-top: 2px;
}
.footnav__link_icon2 {
  font-size: 12.5px;
  padding-top: 2px;
  transform: scale(0.8, 1);
}
.footnav__link_txt1 {
  font-size: 16px;
  padding-left: 4px;
}
.footnav__link_txt2 {
  font-size: 16px;
}
.footnav__link_txt3 {
  font-size: 16px;
}
.footnav__link_txt4 {
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .foot {
    height: 114px;
    flex-direction: row-reverse;
    align-items: last baseline;
    gap: 30px;
  }
  .footnav {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
  .footnav__link_txt2 {
    font-size: 16px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1025px) {
  .foot {
    height: 114px;
    flex-direction: row-reverse;
    align-items: last baseline;
    gap: 100px;
    padding-right: 70px;
  }
  .footnav {
    flex-direction: row;
  }
  .footnav__link_txt2 {
    font-size: 16px;
    padding-right: 40px;
  }
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  visibility: hidden;
  animation: 2.5s 1 ease load;
  z-index: 5;
}

.loader div {
  width: 30px;
  height: 30px;
  visibility: hidden;
  background: #FF79DA;
  border-radius: 50%;
  box-shadow: 0 -0.2rem 4px 2px #9356DC inset;
  animation: 2s 1 ease-in-out bounce;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes load {
  0% {
    opacity: 90%;
    visibility: visible;
  }
  75% {
    opacity: 90%;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 90%;
    visibility: visible;
  }
  25% {
    transform: translateY(1rem);
    opacity: 90%;
    visibility: visible;
  }
  50% {
    transform: translateY(0);
    opacity: 90%;
    visibility: visible;
  }
  75% {
    transform: translateY(1rem);
    opacity: 90%;
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
  }
}
.location {
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.location__icon {
  height: 16px;
  font-size: 16px;
  display: flex;
  color: #353535;
  align-self: center;
}
.location__place {
  width: 109px;
  height: 19px;
  font-size: 16px;
  align-self: center;
  background: none;
  border: none;
}
.location__place::-moz-placeholder {
  color: #353535;
  font-weight: 500;
}
.location__place::placeholder {
  color: #353535;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  height: 287px;
  justify-content: center;
  align-items: center;
}
.about__title {
  height: 68px;
  width: 275px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.about__subtitle {
  height: 46px;
  width: 315px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.fonction {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 47px 0px 67px 0px;
}
.fonction__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 5px;
}

.instructions {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.instructions__step {
  display: flex;
  height: 72.38px;
  width: 335px;
  position: relative;
}
.instructions__step_number {
  display: flex;
  height: 24px;
  width: 24px;
  font-size: 14px;
  color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #9356DC;
  border-radius: 25px;
}
.instructions__step_info {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  left: 12px;
  width: 322.5px;
  height: 72px;
  font-size: 16px;
  font-weight: 500;
  background-color: #F3F3F3;
  z-index: -1;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.instructions__step_info_icon {
  display: flex;
  padding-left: 30px;
  color: #7E7E7E;
  font-size: 19px;
}
.instructions__step_info_icon--purple {
  display: flex;
  padding-left: 30px;
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 65px;
  background-color: #F3F3F3;
}
.restaurants__title {
  width: 340px;
  font-size: 24px;
  font-weight: 700;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.link {
  width: 340px;
  height: 251px;
  display: flex;
  border-radius: 15px;
}

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: inherit;
  position: relative;
  height: 251px;
  background-color: white;
  border-radius: 15px;
}
.card__new {
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  left: 248px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.card__img {
  width: 346px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -57px;
}
.card__img_setting {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__info {
  display: flex;
  position: relative;
  top: -57px;
  padding-left: 13px;
  padding-right: 24px;
  align-items: center;
  justify-content: space-between;
}
.card__info_txt {
  height: 70px;
  width: 400px;
  display: block;
  color: black;
  padding-top: 15px;
}
.card__info_txt_title {
  font-size: 18px;
  font-weight: 700;
}
.card__info_txt_location {
  font-size: 17px;
  font-weight: 300;
  padding-top: 5px;
}
.card__info_icon {
  display: block;
}
.card__info_icon-svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.card__info_icon-input1[type=checkbox] {
  display: none;
}
.card__info_icon-input1[type=checkbox]:checked + label svg .heart-stroke1 {
  opacity: 0;
}
.card__info_icon-input1[type=checkbox]:checked + label svg .heart-fill1 {
  opacity: 1;
}
.card__info_icon-input2[type=checkbox] {
  display: none;
}
.card__info_icon-input2[type=checkbox]:checked + label svg .heart-stroke2 {
  opacity: 0;
}
.card__info_icon-input2[type=checkbox]:checked + label svg .heart-fill2 {
  opacity: 1;
}
.card__info_icon-input3[type=checkbox] {
  display: none;
}
.card__info_icon-input3[type=checkbox]:checked + label svg .heart-stroke3 {
  opacity: 0;
}
.card__info_icon-input3[type=checkbox]:checked + label svg .heart-fill3 {
  opacity: 1;
}
.card__info_icon-input4[type=checkbox] {
  display: none;
}
.card__info_icon-input4[type=checkbox]:checked + label svg .heart-stroke4 {
  opacity: 0;
}
.card__info_icon-input4[type=checkbox]:checked + label svg .heart-fill4 {
  opacity: 1;
}

.heart-stroke1, .heart-stroke2, .heart-stroke3, .heart-stroke4 {
  transition: opacity 0.5s ease;
}

.heart-fill1, .heart-fill2, .heart-fill3, .heart-fill4 {
  transition: opacity 0.6s ease;
}

@media screen and (min-width: 768px) {
  .about {
    height: 250px;
  }
  .about__title {
    width: auto;
    font-size: 28px;
  }
  .about__subtitle {
    width: auto;
  }
  .fonction {
    padding: 47px 0px 67px 0px;
    align-items: center;
  }
  .fonction__title {
    width: 335px;
    padding-left: 0;
  }
  .instructions {
    width: 335px;
    align-items: center;
  }
  .instructions__step {
    width: 335px;
  }
  .instructions__step_info {
    width: 322.5px;
  }
  .restaurants__title {
    width: 712px;
    display: flex;
    padding: 0;
  }
  .restaurants__cards {
    width: 712px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  .about {
    height: 250px;
  }
  .fonction {
    padding: 50px 0;
  }
  .fonction__title {
    width: 1000px;
  }
  .instructions {
    width: 1000px;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
  .instructions__step {
    width: 335px;
  }
  .instructions__step_info {
    width: 308px;
  }
}
@media screen and (min-width: 1281px) {
  .about {
    height: 250px;
    justify-content: space-evenly;
  }
  .about__title {
    width: auto;
    height: 47px;
    font-size: 40px;
  }
  .about__subtitle {
    height: 27px;
    text-align: center;
  }
  .fonction {
    align-items: center;
    padding: 50px 0;
  }
  .fonction__title {
    width: 1080px;
    padding: 0;
  }
  .instructions {
    width: 1080px;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
  }
  .instructions__step {
    width: 335px;
  }
  .instructions__step_info {
    width: 322.5px;
  }
  .restaurants {
    max-width: 100%;
    padding: 55px 0px 65px 0px;
    align-items: center;
  }
  .restaurants__title {
    width: 1080px;
    padding: 0;
  }
  .restaurants__cards {
    width: 1080px;
    justify-content: space-between;
    row-gap: 50px;
  }
  div.link {
    width: 490px;
  }
  .card {
    width: 490px;
  }
  .card__new {
    top: 13px;
    left: 396px;
  }
  .card__img {
    width: inherit;
    left: 0;
  }
  .card__info_txt {
    padding-left: 7px;
  }
}/*# sourceMappingURL=style.css.map */