@use "sass:color";

@import "../utils/mixins";

.about__btn {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  @include border-radius(25px);
  @include btn-shadow;
  @include btn-gradient;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-top: 27px;
  &:hover {
    @include btn-gradient-hover;
    @include btn-hover-shadow;
    text-indent: -1%;
  }
}

.purchase-button {
  height: 50px;
  color: white;
  @include border-radius(25px);
  @include btn-shadow;
  @include btn-gradient;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}