$bg-color: #F3F3F3;
$grey-bg: #353535;
$grey: #EAEAEA;
$green: #99E2D0;
$green-font: #008766;
$blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$light-purple: #FF79DA;
$step-grey: #7E7E7E;